framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true

    session:
        handler_id: App\Storage\Sessions\RedisSessionHandler
        cookie_secure: auto
        cookie_samesite: lax
        cookie_lifetime: 604800
        gc_maxlifetime: 604800
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

    handle_all_throwables: true

    asset_mapper:
        paths:
            - assets/
